@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  scroll-behavior: smooth;
}

html {
  font-family: "Playfair Display", serif;
}

body {
  font-family: "Playfair Display", serif;
}
